<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893669756418-9l2bcoo74tpc22ntqr82kda5ql3d9mve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893669756418-9l2bcoo74tpc22ntqr82kda5ql3d9mve</string>
	<key>API_KEY</key>
	<string>AIzaSyD9NOa4cv5iuJiLR8DOzHn7gnpxZAlUMBw</string>
	<key>GCM_SENDER_ID</key>
	<string>893669756418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-sharks</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sharks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893669756418:ios:b383ee5cd753628b30e11b</string>
</dict>
</plist>